{% extends 'index.html' %}


{% block content %}

<a href="{{ url_for('test', id = id)}}" class="btn btn-secondary btn-lg" style="width: 200;"><</a>

<h1>edit test</h1>
<br>

{% for message in get_flashed_messages() %}
	
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

	
{% endfor %}

<form method="post">
    {{ form.hidden_tag() }}

		{{ form.title.label(class="form-label") }}

		{{ form.title(class="form-control") }}
		<br/>

		{{ form.start_date.label(class="form-label") }}

		{{ form.start_date(class="form-control") }}
		<br/>

		{{ form.end_date.label(class="form-label") }}

		{{ form.end_date(class="form-control") }}
		<br/>

		<div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>
</form>

{% endblock %}