{% extends 'index.html' %}


{% block content %}

<h1>MANAGE TEST</h1>
<br>

{% for message in get_flashed_messages() %}
	
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

	
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ test.title }}</h2>
    {{ test.teacher_id }}<br/>
	<small>{{ test.start_date }}</small> <br/><br/>
	<p>
		Test code : {{ test.code }}
	</p>
	<p>
		Status : {{ test.status }}
	</p>

	<br/><br/>
	{% if test.status == 'scheduled' %}
		<a href="{{ url_for('add_question', id=test.test_id)}}" class="btn btn-outline-primary btn-sm">add question</a>
		<a href="{{ url_for('edit_test', id=test.test_id)}}" class="btn btn-outline-info btn-sm">edit test</a>
	{% endif %}
	{% if test.status == 'scheduled' or test.status == "finished" %}
		<a href="{{ url_for('delete_test', id=test.test_id)}}" class="btn btn-outline-danger btn-sm">delete test</a>
		<br/>
	{% endif %}
	
</div>


<div class="container text-center">
	<div class="row">
	  <div class="col">
		<h1>Questions</h1>
	  </div>
	  <div class="col">
		<h1>Submissions</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
		<div class="card">
			<ul class="list-group list-group-numbered">
				{% for question in questions %}
		
				<li style="text-align: left;" class="list-group-item d-flex ">
					<div class="flex-grow-1">
						<b >
							{{ question.question_text }} 
						</b>
					</div>
					
					{% if test.status == 'scheduled' %}
						<a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete_question', id=test.test_id, question_id = question.question_id)}}">delete</a> 
						<a class="btn btn-outline-info btn-sm" href="{{ url_for('edit_question', id=test.test_id, question_id = question.question_id)}}">edit</a> 
					{% endif %}
				</li> 
					
				{% endfor %}
			</ul>
		</div>
	  </div>
	  <div class="col">
		<div class="card">
			<ul class="list-group list-group-numbered">
				{% for submission in test.submissions %}
		
				<li style="text-align: left;" class="list-group-item d-flex ">
					<div class="flex-grow-1">
						<b >
							{{ submission.student.name }}
						</b>
						- Total score = <b>{{ submission.total_points }}</b>
					</div>
					<!-- <div class="flex-grow-1">
						
							- {{ submission.student_id }} 
							( {{ submission.submitted_at }} ) - 
							{{ submission.total_points }}
						
					</div> -->
					
					 
					<a class="btn btn-outline-info btn-sm" href="{{ url_for('view_submission', id=test.test_id, submission_id = submission.submission_id)}}">view</a> 
					<a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete_submission', id=test.test_id, submission_id = submission.submission_id)}}">delete</a> 
				</li> 
					
				{% endfor %}
			</ul>
		</div>
	  </div>
	</div>
  </div>
	

	


{% endblock %}