{% extends 'index.html' %}


{% block content %}

<h1>MANAGE TEST</h1>
<br>

{% for message in get_flashed_messages() %}
	
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

	
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ test.title }}</h2>
    {{ test.teacher_id }}<br/>
	<small>{{ test.start_date }}</small> <br/><br/>
	<p>
		Test code : {{ test.code }}
	</p>

	<br/><br/>
	<a href="{{ url_for('add_question', id=test.test_id)}}" class="btn btn-outline-primary btn-sm">add question</a>
	<a href="{{ url_for('delete_test', id=test.test_id)}}" class="btn btn-outline-danger btn-sm">delete test</a>
	<a href="{{ url_for('edit_test', id=test.test_id)}}" class="btn btn-outline-info btn-sm">edit test</a>

	<br/>
</div>
<br/>


	
<div class="card">
	<ul class="list-group list-group-numbered list-group-flush">
		{% for question in questions %}

		<li class="list-group-item  justify-content-between ">
			{{ question.question_text }} 
			<a class="btn btn-outline-danger btn-sm" href="{{ url_for('delete_question', id=test.test_id, question_id = question.question_id)}}">delete</a> 
			<a class="btn btn-outline-info btn-sm" href="{{ url_for('edit_question', id=test.test_id, question_id = question.question_id)}}">edit</a> 
		</li> 
			
		{% endfor %}
	</ul>
</div>

	


{% endblock %}