{% extends 'index.html' %}


{% block content %}

<h1>tests</h1>
<br>

{% for message in get_flashed_messages() %}
	
	<div>
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ test.title }}</h2>
    {{ test.teacher_id }}<br/>
	<small>{{ test.start_date }}</small> <br/><br/>

	<br/><br/>
	<a href="{{ url_for('add_question', id=test.test_id)}}" class="btn btn-outline-secondary btn-sm">add question</a>

	<br/>
</div>
<br/>

{% endblock %}