{% extends 'index.html' %}


{% block content %}


{% for message in get_flashed_messages() %}
	
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

	
{% endfor %}

<h1>Start Test: {{ test.title }}</h1>
<p>Remaining time: <span id="timer"></span></p>



<form id="test-form" action="{{ url_for('student_dashboard') }}" method="post">
    {% for question in questions %}
        <h2>Question {{ loop.index }}: {{ question.question_text }}</h2>
        {% if question.question_type == 'multiple-choice' %}
            <ul>
                <li><input type="radio" name="answer_{{ question.id }}" value="1"> {{ question.option1 }}</li>
                <li><input type="radio" name="answer_{{ question.id }}" value="2"> {{ question.option2 }}</li>
                <li><input type="radio" name="answer_{{ question.id }}" value="3"> {{ question.option3 }}</li>
                <li><input type="radio" name="answer_{{ question.id }}" value="4"> {{ question.option4 }}</li>
            </ul>
        {% elif question.question_type == 'essay' %}
            <textarea name="answer_{{ question.id }}"></textarea>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Submit Test">
</form>

<script>
    const startTime = new Date("{{ test.start_date }}");
    const endTime = new Date("{{ test.end_date }}");
    const currentTime = new Date();
    const remainingTime = endTime - currentTime;
  
    const timerElement = document.getElementById("timer");
    const form = document.getElementById("test-form");

    let timeoutId = setTimeout(() => {
        form.submit(); // Submit the form when time runs out
    }, remainingTime);

    let intervalId = setInterval(() => {
        const timeLeft = Math.max(0, remainingTime - (new Date() - startTime));
        const minutes = Math.floor(timeLeft / 60000);
        const seconds = Math.floor((timeLeft % 60000) / 1000);
        timerElement.textContent = `${minutes} minutes ${seconds} seconds`;

        if (timeLeft <= 0) {
            clearTimeout(timeoutId);
            clearInterval(intervalId);
            form.submit(); // Submit the form when time runs out
        }
    }, 1000);
</script>

{% endblock %}