{% extends 'index.html' %}


{% block content %}

<h1>Student Dashboard</h1>
<br>

{% for message in get_flashed_messages() %}
	
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}


<br/>

<h3><b>Student:</b> {{current_user.name}} - {{current_user.id}}</h3>

<br/>

<div class="row row-cols-1 row-cols-md-3 g-4">
	
	{% for test in tests %}
	<div class="col">

		<div class="card ">
		<div class="card-body">
		<h5 class="card-title"><a href="{{ url_for('test', id=test.test_id)}}">{{ test.title }}</a></h5>
		<p class="card-text">{{ test.teacher.name }}<br/>
			<small><b> Start date: </b>{{ test.start_date }}</small> <br/>
			<small><b> End date: </b>{{ test.end_date }}</small> <br/>
		</p>

		<a href="{{ url_for('start_test', test_id=test.test_id)}}" class="btn btn-outline-info btn-sm">start test</a>
		</div>
		</div>	

  
	</div>
	{% endfor %}
</div>

{% endblock %}